*
{
    margin:0;
    padding:0;
}
:root {
    /* 色彩設定 */
    --jjjghu-black:rgb(34, 40, 49);
    --jjjghu-grey:rgb(57, 62, 70);
    --jjjghu-blue:rgb(0, 173, 181);
    --jjjghu-white:rgb(238, 238, 238);
    --jjjghu-brown:rgb(185, 148, 112);
    --jjjghu-orange:rgb(215, 140, 66);
    --jjjghu-red:rgba(241, 34, 34, 0.755);

}
body
{
    background-color:rgb(243, 238, 234);
}
/* 淡入淡出效果開頭 https://codepen.io/lmrynhpe-the-sans/pen/ExJPYBJ*/
.nav-item.title-nav
{
  position: relative;
  z-index: 1;
}
.nav-item.title-nav::before
{
  content: " "; 
  display: block;
  position: absolute;
  inset: 0;
  background-color: var(--jjjghu-blue);
  z-index: -1;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform .3s ease; 
  border-radius:0.4rem;
}
.nav-item.title-nav:hover::before
{
  transform: scaleX(1);
  transform-origin: bottom left;
}
/* 淡入淡出效果結尾 https://codepen.io/lmrynhpe-the-sans/pen/ExJPYBJ*/
/* 輪播開始*/
.slider-wrapper
{
    /* 設定相對位置 */
    position:relative;
    /* 設定最大寬度 */
    max-width:48rem;
    /* 置中對齊, 上方空出空位 */
    /* 更改為定義marginTop: mt-7vh */
    margin: 0 auto 0 auto;
}
.slider
{
    /* 彈性顯示 */
    display:flex;
    /* 顯示內容不換行 */
    overflow: hidden;
    /* 設定寬度 */
    width: 100%;
    /* 圖片長寬比例 */
    aspect-ratio:16 / 9;
    /*  判斷是否要顯示滾動條, 如果有溢出就顯示滾動條 */
    /* overflow-x:auto; */
    /* x 軸拉動, mandatory proximity(精確 / 大約) */
    scroll-snap-type: x mandatory;
    /* 按下按鈕拖動時smooth */
    scroll-behavior:smooth;
    /* 輪播圖的陰影 , x, y, blur, spread, color hsla(hue, saturation, lightness, alpha)*/
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    /* 圓弧外框 */
    border-radius: 0.5rem; 
    /* IE / Edge 不顯示滾動條 */
    -ms-overflow-style: none;
    /* FireFox 不顯示滾動條 */
    scrollbar-width:none;
}
.slider::-webkit-scrollbar
{
    /* 滾動條設定為不顯示, 其實只要這個就好了 */
    display:none;
}
.slider img
{
    /* flex grow flex strength, flex basis */
    /* 圖片放大比例, 圖片縮小比例(設定為 0 避免失真), 占滿整個container(100%)*/
    flex :1 0 100%;
    /* 再到起始位置的時候對齊*/
    /* start, center, end, nearest */
    scroll-snap-align:start;
    /* 設定圖最最小大小*/
    min-width: 100%;
    /* 動畫切換 */
    transition: transform 1s ease-in-out;
}
.slider-nav
{
    /* 彈性顯示 */
    display:flex;
    /* 每個子物件之間的距離 */
    column-gap:1rem;
    /* 位置繼承為 relative, 雖然上面寫absolute (相對於父元素的絕對位置)*/
    position: absolute;
    bottom:1.25rem;
    /* 置中對齊 */
    left: 50%; 
    transform: translate(-50%);
    /* 顯示在上層 */
    z-index:1;
    /* 鼠標圖樣 */
    cursor:pointer;
}
.slider-nav a
{
    /* 按鈕大小 */
    width:0.8rem;
    height:0.8rem;
    /* 按鈕圓弧 */
    border-radius:50%;
    /* 按鈕顏色 */
    background-color:var(--jjjghu-white);
    /* 透明度設定為 0.75 */
    opacity:0.5;
    /* 轉換為Hover時的動畫表現 */
    transition:opacity ease 250ms;
}
.slider-nav a:hover
{
    /* 被選重時顯示高亮 */
    opacity:1;
}
/* 箭頭設定開始 */
.prev-arrow, .next-arrow {
    /* 沒hover不顯示 */
    transition: opacity 0.3s ease, visibility 0.3s;
    opacity:0;
    position: absolute;
    top: 50%; /* 將箭頭置於垂直中央 */
    transform: translateY(-50%); /* 確保箭頭完全居中 */
    z-index: 2; /* 確保箭頭顯示在圖片上方 */
    color: #fff; /* 根據需要調整顏色 */
    font-size: 24px; /* 或者根據需要調整大小 */
    cursor: pointer;
    text-decoration: none;
    background-color:rgba(0, 173, 181, 0.5)
}
.slider-wrapper:hover .prev-arrow,
.slider-wrapper:hover .next-arrow
{
    /* 被hover就顯示 */
    opacity:1;
}
.prev-arrow {
    /* 箭頭放左邊 */
    left: 0; 
}
.next-arrow {
    /* 箭頭放右邊 */
    right: 0; 
}
/* 箭頭設定結束 */
/* 輪播結束 */
/* 商品的輪播設定, 靠左, 縮小 */
/* .slider-wrapper.product { */
    /* 讓輪播圖區域和商品詳情區域各佔一半的空間 */
    /* flex: 1; */
    /* 相對於父元素的絕對定位 */
    /* position: relative;  */
    /* 放置在左上位置 */
    /* top: 7vh; */ 
    /* left: 7vw;  */
    /* 縮放大小 */
    /* transform:scale(0.8); */
    /* 變更縮放點, 避免縮放過後多出不必要的空隙 */
    /* transform-origin: top left; */
/* } */
/* 加入偽元素到後面, 漸變的顯示效果 */
.slider-wrapper.product::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    /* 佔據底部兩成的區域 */
    height:20%; 
     /* 從黑色漸變到透明 */
    background: linear-gradient(to top, rgb(150, 150, 150), rgba(50, 50, 50, 0));
}
.slider.product
{
    /* 更改比例為直立1:1 */
    aspect-ratio: 1.5 / 1;
}
/* 商品詳細資訊開始 */
/* 將容器設置為 flex */
/* .container-fluid {
    
    display: flex; 
} */
/* 詳細資訊也佔據一半空間 */
/* .product-details {
    
    flex: 1; 
    position:relative;
    top: 7vh;
    left: 7vw;

} */

/* 商品詳細資訊結束 */

/* 將圖片以原比例置中, 很醜所以不用了*/
/* .slider.product img
{
    width:100%;
    height:100%;
    object-fit: contain;
} */
.slider-nav.product
{
    /* 彈性顯示 */
    display:flex;
    /* 每個子物件之間的距離 */
    column-gap:0.5rem;
    /* 位置繼承為 relative, 雖然上面寫absolute (相對於父元素的絕對位置)*/
    position: absolute;
    /* 和底部之間的距離 */
    bottom:0.5rem;
    /* 置中對齊 */
    left: 50%; 
    transform: translate(-50%);
    /* 顯示在上層 */
    z-index:1;
    /* 鼠標圖樣 */
    cursor:pointer;
}
.slider-nav.product a
{
    /* 按鈕大小, 相對父物件的大小 */
    width:3rem;
    height:3rem;
    /* 按鈕圓弧 */
    border-radius:0%;
    /* 按鈕顏色 */
    background-color:var(--jjjghu-black);
    /* 透明度設定為 0.75 */
    opacity:0.75;
    /* 轉換為Hover時的動畫表現 */
    transition:opacity ease 250ms;
}
/* 商品輪播設定結束 */
/* 購物車圖標開始 */
.card:hover .cart {
    /* 滑鼠移入時顯示 */
    display: block;
}
/* 購物車圖標的顯示設定 */
.btn.cart {
    /* 减小padding 上下 左右 */
    padding: 0.25rem 0.5rem; 
    /* 設定字體大小 */
    font-size: 0.875rem; 
    /* 相對於父物件的絕對位置 */
    position: absolute;
    /* 設定靠上右 */
    bottom: 12px;
    right: 12px;
    /* 預設為不顯示 */
    display: none;
    /* 半透明黑色背景 */
    background-color: rgba(34, 40, 49,0.5);
    color:white;
}
.btn.cart:hover
{
    /*設定購物車圖標hover的時候顯示的樣貌*/
    background-color: var(--jjjghu-brown);
    color:white;
}
/* 購物車圖標結束 */
/* 文本效果, 強制套用 */
/* 邊緣線條 */
.bold-hr
{
    border-bottom: 1px solid var(--jjjghu-black);
}
/* 文字hover效果開始 */
.text_effect
{
    color:var(--jjjghu-black);
}
.text_effect:hover
{
    color:var(--jjjghu-blue);
}
/* 文字hover效果結束 */
.btn-nav {
    /* 按鈕設定 */
    border: none;
    color:black;
    background-color: transparent !important;
    text-decoration: underline;
    padding-bottom: 5px;
    transition: background-color 250ms ease;
}
.btn-blue:hover {
    /* hover時的樣式 */
    background-color: black;
    color: var(--jjjghu-white);
}
.mt-10vh
{
    margin-top: 10vh !important;
}
.text-brown
{
    color:var(--jjjghu-brown) !important;
}
.text-black
{
    color:var(--jjjghu-black) !important;
}
.text-black2
{
    color:var(--jjjghu-grey) !important;
}
.text-white
{
    color:var(--jjjghu-white) !important;
}
.text-blue
{
    color:var(--jjjghu-blue) !important;
}
.text-orange
{
    color:var(--jjjghu-orange) !important;
}
.text-red
{
    color:var(--jjjghu-red) !important;
}
/* 選取卡片的淡出顯示效果*/
.card
{
    /* 動畫切換時間 */
    transition: all 0.3s ease;
}
.card:hover
{
    /* 陰影效果 */
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    /* 旋轉效果 */
    transform: translateY(-0.5rem);
    /* 邊框顏色 */
    border: 1px solid var(--jjjghu-brown);
}
/* 登入介面開始 */
.logincontainer
{
    display: flex; 
    /* 內容垂直排列 */
    flex-direction: column;
    /* 垂直居中 */
    justify-content: center; 
    /* 水平居中 */
    align-items: center; 
    min-height:100vh;
}
.wrapper {
    background: rgb(34, 40, 49);
    color: rgb(0, 173, 181);
    padding: 30px 40px;
    border-radius: 0.5rem;
}

/* 其他樣式保持不變 */
/* 背景顏色設定 */
.LoginBody
{
    background-color:var(--jjjghu-grey);
}
.wrapper h1
{
    /* 文字大小 */
    font-size:36px;
    /* 標題置中 */
    text-align:center;
}
.wrapper .input-box
{
    position:relative;
    /* 寬度佔滿父元素 */
    width:100%;
    /* 高度 */
    height:50px;
    /* background:rgb(57, 62, 70); */
    /* 上下 左右 */
    margin:30px 0;
}
.input-box input
{
    /* 輸入框的長寬 */
    width: 100%;
    height: 100%;
    /* 可看見背景 */
    background:transparent;
    /* 外框設定 */
    border:none;
    outline:none;
    border:2px solid rgb(0, 173, 181);
    border-radius:40px;
    font-size:16px;
    color:rgb(238, 238, 238);
    /* 將輸入內容對齊輸入框 */
    padding:20px 45px 20px 20px;
}
.input-box input::placeholder
{
    /* 設定輸入文字placeholder的顏色 */
    font-style: italic;
    color:rgb(100, 100, 100);
    /* color:rgb(238, 238, 238); */
}
.input-box i
{
  position:absolute;
  /* 相對 input box 靠右 */
  right:20px;
  /* 上下置中 */
  top:50%;
  transform:translateY(-50%);
  /* 字體大小 */
  font-size:20px;  
}
.wrapper .remember-forgot
{
    display:flex;
    justify-content: space-between;
    /* 文字大小 */
    font-size:14.5px;
    margin: -15px 0 15px;
}
.remember-forgot label
{
    color:rgb(238, 238, 238);
}
.remember-forgot label input
{
    accent-color:rgb(238, 238, 238);
    margin-right:3px;
}
.remember-forgot a
{
    color:rgb(238, 238, 238);
    text-decoration:none;
}
.remember-forgot a:hover
{
    text-decoration:underline;
}
.wrapper .btn
{
    width:100%;
    height:45px;
    background:rgb(238, 238, 238);
    border:none;
    outline:none;
    border-radius:40px;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    cursor:pointer;
    color:rgb(57, 62, 70);
    font-weight: 600;
}
.wrapper .register-link
{
    color:rgb(238, 238, 238);
    font-size:14.5px;
    text-align:center;
    margin-top:20px;
}
.register-link p a
{
    color:rgb(238, 238, 238);
    text-decoration:none;
    font-weight:600;
}
.register-link p a:hover
{
    text-decoration:underline;
}
/* 登入介面結束 */
