body {
  /*font-family: 'Microsoft JhengHei', 'Microsoft YaHei', 'Tohoma', 'Arial';*/
  font-family: "Helvetica Neue", Helvetica, Arial, "微軟正黑體", sans-serif;
}

header {
  letter-spacing: 3.5px;
  color: #fff;
  font-family: "DFKai-SB";
}

footer a {
  color: #f4f4f4;
}

.line-height-1 {
  line-height: 2rem;
}

.subnavbar {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15),
    inset 0 -1px 0 rgba(0, 0, 0, 0.25);
  position: sticky;
  top: 0;
  z-index: 4;
}

.bg-header {
  background-color: #15224e;
  /*#0e1734*/
}

.bg-subnavbar,
.bg-footer {
  background-color: #27386e;
  /*#1e2b55*/
}

a.deco-none {
  color: inherit !important;
  text-decoration: none;
}

.fs-1 {
  font-size: 2.5rem !important;
}

.fs-2 {
  font-size: 2rem !important;
}

.fs-3 {
  font-size: 1.75rem !important;
}

.fs-4 {
  font-size: 1.5rem !important;
}

.fs-5 {
  font-size: 1.25rem !important;
}

.fs-6 {
  font-size: 1rem !important;
}

.border-2rem
{
  border-radius:0.2rem !important;
}

#prointroTabContent img {
  max-width: 100%;
  max-height: 15rem;
  cursor: pointer;
}

.color-info {
  color: #0000ff; /*#0f40e3*/
}

.table-md td,
.table-md th {
  padding: 0.45rem !important;
}
.table-md {
  font-size: 0.95rem !important;
  color: black !important;
}
.form-number
{
  width: 10%;
}
.form-normal
{
  width: 20%;
}
.form-email
{
  width: 40%;
}
form span.error,
form label.error {
  color: #ff0000;
  padding: 0.5rem;
}

form input.error,
form select.error {
  box-shadow: 0 0 1.5px 1px red;
}
.bg-grey
{
  background-color: rgb(232, 230, 230);
}
.bg-success-light {
  background-color: #dff0d8;
}
.bg-warning-light {
  background-color: #fcf8e3;
}
.bg-info-light {
  background-color: #d9edf7;
}

.text-confirm {
  color: blue;
  font-weight: bold;
}
@media (min-width: 768px) {
  #header1 {
    display: flex;
  }
  #header2 {
    display: none;
  }
}
@media (max-width: 767.98px) {
  #header1 {
    display: none;
  }
  #header2 {
    display: flex;
  }
}

#logo1 {
  display: none;
}
@media (min-width: 576px) {
  #logo1 {
    display: block;
  }
  #logo2 {
    display: none;
  }
}
