body {
	background-color:#F7F7F7;
}

.c_title{
	background-color:#E6E6E6;
	margin-top:3px;
	padding-top:5px;
	padding-bottom:3px;
	padding-left:5px;
	font-size: 11pt;
	color: #990033;
}

.c_content {
	background-color:#FFFFFF;
	margin-top:3px;
	padding-top:5px;
	padding-bottom:3px;
	padding-left:5px;
	font-size: 11pt;
	color: blue;
}

.c_button {
	background: #e3e3db;
	font-size:16px; 
	color: #6633FF; 
	padding: 6px 14px;
	border-width: 2px;
	border-style: solid;
	border-color: #fff #d8d8d0 #d8d8d0 #fff;
	text-decoration: none;
	text-transform:uppercase;
	font-weight:bold;
}

