<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <h3> Register </h3>
        <form action = "/register" method = "POST"> <!--表單填寫完使用POST方式送給網站-->
        {% csrf_token %}
            <label for=""> Username </label>
            <input type = "text" id = "username" name = "username" placeholder = "Create a username" Required>
            <br>
            
            <label for=""> PhoneNumber </label>
            <input type = "text" id = "phone" name = "phone" placeholder = "09..." Required>
            <br>
            
            <label for=""> Gmail </label>
            <input type = "email" id = "gmail" name = "gmail" placeholder = "@gmail.com" Required>   
            <br>
            
            <label for=""> password </label>
            <input type = "password" id = "password" name = "password" placeholder = "password" Required>
            <br>
            <!--輸入, 文本, CSS/HTML看見的變數名稱, Django看到的變數名稱, 顯示提示字, 必須填寫-->
            <button type="submit">Register</button>
        </form>
        <script src="" async defer></script>
    </body>
</html>